* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center;
}

.pad-8px {
    padding: 8px;
}
.mt-8 {
    margin-top: 8px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  
}

.col-third {
    width: 33.33333333%;
} 

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 1;
    

}

#nav { display: inline-block;
}


#nav .nav-header-down {
    padding: -2px;
}
#nav > li {
    display: inline-block;
    position: relative;
  
}

#nav li:hover  {
    background-color: #ccc;

}
#nav > li:hover  > a,
#nav .subnav li:hover  {
    color: #000;
    background-color: #ccc;

}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
   
}
#nav .subnav  a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    
}
#nav li:hover  .subnav{
    display: block;

}
#nav .subnav {
    display: none ;
    position: absolute;
    top: 46px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
#nav .subnav li {
    width: 100%;
  
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn {
    padding: 12px 24px;
}

#header .mobile-menu-btn {
    float: right;
    padding: 0 21px ;
    position: absolute;
    top: 0%;
    right: 0%;
    display: none;

}
#header .search-btn {
    float: right;
    padding: 0 21px ;
}

#header .menu-icon,
#header .search-icon {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
   padding-top: 50%;
    background: url(/assets/img/Slider/Slider1.jpg) top center/ cover no-repeat;
    position: relative;
   
}
#slider .text-header {
    color: #fff;
     position: absolute;
     bottom: 47px;
    width: 100%;
    text-align: center;
     
}

#slider .text-content {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    margin-top: 25px ;
     font-size: 15px;
     text-shadow: 0 0 1px #000;
}


#content {  
}
 .content-section {
    width: 800px;
    padding: 64px 0 ;
    Margin-left: auto;
    Margin-right:auto; 
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;

}
.section-heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;
    margin: 10px;


}
 .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 15px; 
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.6;

}
#content .section-about {
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}
#content .content-band {
       margin-top: 48px;
       margin-bottom: 32px;
       
      
} 

#content .name-member {
    font-size: 15px;
    
    
}
#content .img-member {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}
/* tour section  */
.tour-section {
    background-color: #000;

}

.tickets-list li {  
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;

}
.tickets-list {
    color: #757575;
    list-style: none;
    margin-top: 40px;
    background-color: #fff;

}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
     margin: 15px 6px;

}

.tickets-list .quantity {
    height: 24px;
    float: right;
    width: 24px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}
/* tour-buy-ticket */
#content .buy-ticket {
    margin-top: 32;
    margin-bottom: 48px;

}


.buy-ticket .ticket-place {
    padding: 15px;
    background-color: #fff;
   
   
}
.buy-ticket .img-buy-ticket {
    width: 100%;
    
}

.buy-ticket .img-buy-ticket:hover {
    opacity: 0.6;
}

.buy-ticket .place {
   
    margin: 15px 6px;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.5;
}

.buy-ticket .time {
     margin: 15px 6px;
     font-size: 15px;
     opacity: 0.6;

}
.buy-ticket .about-place {
     margin: 15px 6px;
     font-size: 15px;

}

.buy-ticket .btn-ticket {
   
    display: flex;
    text-align: center;
    vertical-align: middle;
    
}

.buy-ticket .btn-buy-ticket {
    font-size: 15px;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;

    
    
}
.buy-ticket .btn-buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}
/* contact-content */

.contact-content {
    padding: 32px 0;
}

.contact-content .form-contact {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.5;
    
}
.form-contact i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    
}


.contact-content .form-control {
    border: 1px solid #ccc;
    padding: 9px;
    width: 100%;
    font-size: 16px;
}

.contact-content .send-contact {
    float: right;

}
.send-contact {
    font-size: 15px;
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

/* footer */

#footer {   
    padding: 64px 16px;
    text-align: center;

}
.socials-list {
    width: 100%;
    
   

}
.socials-list a {
    text-decoration: none;
    color: #757575;
    font-size: 23px;
}
.end-footer {
    margin: 15px 0;
    font-size: 15px;
    color: #757575;
}
.link-end-footer {
    color: #757575;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.open {

    display: flex;
}
.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    Position: relative;
    animation:modalFadeIn ease 0.5s ;

}

.modal-container .modal-header {
    padding: 32px 16px;
    
    background-color: #009688;


}
.modal-header .ti-bag {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400px;
    letter-spacing: 4px;
    color: #fff;
    margin: 10px 0;
}

.modal-container .modal-close {
    position: absolute;
    right: 0%;
    top: 0%;
    color: #fff!important;
    background-color: #009688!important;
    font-size: 12px;
    padding:  20px 16px;

}
.modal-body {
    display: block;
    margin: 15px;

}

.modal-body .modal-label {
    margin: 15px 0;
    display: block;

}


.modal-body .modal-input {
    display: block;
    width: 100%;
    padding: 11px 0;
    border: 1px solid #ccc;
  
}

.modal-body .pay-tickets {
    display: block;
    width: 100%;
    font-size: 15px;
    margin: 16px 0;
    padding: 16px;
    font-weight: 700;
    background-color: #009688;
    border: 1px solid #009688;
    color: #fff;
}

.modal .pay-tickets .ti-check {
    font-weight: 700;
}
.modal .footer-close .ti-close {
font-size:  10px; 
font-weight: 900;

}
.modal .footer-close {
    font-size: 15px;
    margin: 16px 0;
    padding: 8px 16px;
    margin-left: 15px;
    color: #fff;
    background-color: #f44336;
    border: 1px solid #f44336;

}

.modal .help-modal {
    font-size: 15px;
    position:absolute;
    right: 0;
    bottom: 0%;
    margin: 15px ;
    padding: 16px 0;
    
}

.modal .need-help {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);

    }
}







