/* PC */
@media (min-width:1024px) {

}

/* tablet && mobile  */
@media (max-width:1023px) {
    .form-control {
        padding: 15px;

    }

    .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .link-end-footer {
        padding: 12px 0 ;
        display: inline-block;
    }

}
/* Tablet */
@media (min-width:740px) and (max-width:1023px) {

}

/* Mobile */
@media (max-width:739px) {  
    #header {
        overflow: hidden;
    } 

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav li {
        display: block;
    }

    #nav >li:first-child {
        display: inline-block;
    }

    #content .img-member {
        width: 60%;
    }


    #content .member-item {
       width: 100%;
       margin-top: 30px;
   }

   .buy-ticket .watch-ticket{
       width: 100%;
       margin-bottom: 16px;
       padding-left: 8px;
       padding-right: 8px;
   }

   .buy-ticket {
       padding: 32px 8px;
       
   }

   /* contact-section  */
   .contact-content .form-control {
    width: 100%;
    margin-top: 8px;
   }
  
   .contact-content .change-col-half,
   .contact-content .form-contact  {
    width: 100%;
    }

    .contact-content .send-contact {
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
    }
    

}

    
    